@import 'bootstrap/dist/css/bootstrap';

body {
  background-color: lightgrey;
}
.navbar-brand {
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: bold;
}

.jumbotron {
  margin-top: 25px;
  background-image: asset-url("typewriter.jpg");
  background-position: center center;
  background-size: cover;
  height: 425px;
}

// Sticky Footer
html, body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}
