@import 'bootstrap/dist/css/bootstrap';

.navbar-brand {
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: bold;
}

.jumbotron {
  margin-top: 25px;
  background-image: asset-url("typewriter.jpg");
  background-position: center center;
  background-size: cover;
  height: 425px;
}