<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white mt-4">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Jan Milosh", "http://janmilosh.com", class: "text-white" %></small>
  </div>
</footer>
